@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #0A0A0A;
    --primary: #7000ff;
    --secondary: #00f261;
    --accent: #f75d00;
    --neutral: #0a0100;
    --base-100: #fffcff;
    --info: #007ebd;
    --success: #2aff87;
    --warning: #ff8d00;
    --error: #ff617b;
  }
  
  .dark {
    --background: #030303;
    --foreground: #ffffff;
    --primary: #ff00ff;
    --secondary: #61f200;
    --accent: #ff7d00;
    --neutral: #101010;
    --base-100: #1a1a1a;
    --info: #006dbd;
    --success: #87ff2a;
    --warning: #ff7d00;
    --error: #ff617b;
  }
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    @apply bg-background text-foreground
  }
  
}
.streak-calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
  }
  
  .calendar-day {
    width: 100%;
    height: 40px;
    background-color: #fff;
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .calendar-day.active {
    background-color: #4CAF50;
    color: #fff;
  }